.image1 img {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 400px;
    height: 400px;

    object-fit: cover;
}

.writing {
    background-color: white;
}

.writing h1 {
    background-color: black;
    color: white;
}